[submodule "themes/terminal"]
	path = themes/terminal
	url = https://github.com/panr/hugo-theme-terminal.git
[submodule "site/themes/terminal"]
	path = site/themes/terminal
	url = https://github.com/panr/hugo-theme-terminal.git
